#########################################
# basic parameters
#########################################
device:
  value: cuda:0
task_name:
  value: SL
  # value: tNTL
  # value: tCUTI
  # value: tHNTL
domain_src:
  value: visda_t
domain_tgt:
  value: visda_v
patch_value:
  value: default
image_size:
  value: 64
num_classes:
  value: 12

seed:
  value: 2023
batch_size:
  value: 32
num_workers:
  value: 16

pre_split:
  value: True
data_transform:
  value: ntl

#########################################
# parameters for training SL/NTL models
#########################################
teacher_network:
  value: vgg19
teacher_pretrain:
  value: True
  # value: False
train_teacher_scratch:
  # value: True
  value: False
save_train_teacher:
  value: True
  # value: False
pretrained_teacher:
  value: auto
pretrain_epochs:
  value: 20
pretrain_lr:
  value: 0.001
pretrain_momentum:
  value: 0.9
pretrain_weight_decay:
  value: 0.0001
#########################################
# additional parameters for NTL
#########################################
NTL_alpha:
  value: 0.1
NTL_beta:
  value: 0.1
#########################################
# additional parameters for CUTI
#########################################
CUTI_alpha:
  value: 0.1

  
#########################################
# parameters for training surrogate model
#########################################
# surrogate_network:
#   value: vgg19
surrogate_pretrain:
  value: True
  # value: False
train_surrogate_scratch:
  value: True
  # value: False
how_to_train_surrogate:
  value: FT_FTAL
  # value: FT_RTAL
  # value: FT_Direct_ALL
  # value: FT_Direct_FC
  # value: FT_InitFC_ALL
  # value: FT_InitFC_FC
save_train_surrogate:
  # value: True
  value: False
pretrained_surrogate:
  value: auto
surrogate_data_percen:
  value: 0.1
surrogate_epochs:
  value: 400
surrogate_lr:
  value: 0.0001
surrogate_momentum:
  value: 0.9
surrogate_weight_decay:
  value: 0.0001

